/* Macros */

// Press dead key ^ and space to get caret
ZMK_MACRO(m_caret, display-name = "Caret"; bindings = <&kp FI_CARET &kp SPACE>;)

// Windows Emoji shortcut
ZMK_MACRO(m_emoji, display-name = "Windows Emoji"; bindings = <&kp LG(DOT)>;)

// Reset zoom
ZMK_MACRO(reset_zoom, display-name = "Reset Zoom"; bindings = <&kp LC(KP_N0)>;)

// Helpers for various behaviors
ZMK_MACRO_ONE_PARAM(m_btsel, display-name = "Bluetooth Profile Select"; bindings = <&macro_param_1to2>, <&bt BT_SEL MACRO_PLACEHOLDER>;)
ZMK_MACRO_ONE_PARAM(m_btdis, display-name = "Bluetooth Profile Disconnect"; bindings = <&macro_param_1to2>, <&bt BT_DISC MACRO_PLACEHOLDER>;)
ZMK_MACRO_ONE_PARAM(m_btclr, display-name = "Bluetooth Profile Clear"; bindings = <&bt BT_CLR>;)
ZMK_MACRO_ONE_PARAM(m_reset, display-name = "Reset"; bindings = <&sys_reset>;)
ZMK_MACRO_ONE_PARAM(m_bootloader, display-name = "Bootloader"; bindings = <&bootloader>;)
ZMK_MACRO_ONE_PARAM(m_blcmd, display-name = "Backlight Command"; bindings = <&macro_param_1to1>, <&bl MACRO_PLACEHOLDER 0>;)
ZMK_MACRO_ONE_PARAM(m_blset, display-name = "Backlight Set"; bindings = <&macro_param_1to2>, <&bl BL_SET MACRO_PLACEHOLDER>;)
