/* AltGr extras */

/* Instantiate dead key sequences for Romanian letters. These only work with SFS 5966, with the latest extension for "comma below" */
// There are ways to enter letters with unicode sequences, but it needs registry tweaks in Windows to get hex unicode input, and alt-decimal keypad input doesn't work everywhere.
DEADKEY(ro_abr, RA(FI_STAR), A)
DEADKEY(ro_aci, FI_CARET, A)
DEADKEY(ro_ici, FI_CARET, I)
DEADKEY(ro_sco, RA(FI_UNDERSCORE), S)
DEADKEY(ro_tco, RA(FI_UNDERSCORE), T)
